# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres

# LLM
LLM_API_KEY=your_api_key_here
LLM_BASE_URL=https://api.openai.com
LLM_ENDPOINT_PATH=/v1/chat/completions
